@import "tailwindcss";

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill {
    -webkit-text-fill-color: #000;
    box-shadow: inset 0 0 0 1000px #fff;
    transition: background-color 9999s ease-in-out 0s;
  }
}

@theme {
  --color-black: #202020;
  --color-blue-primary: #242edb;
  --color-blue-secondary: #367aff;
  --color-gray-primary: #f6f6f6;
  --color-gray-secondary: #f6f6f6;
  --color-gray-dark: #ededed;

  --font-sans: "Inter", ui-sans-serif, system-ui;
}

html {
  font-family: var(--font-sans);
}

body {
  background-color: var(--color-gray-primary);
  color: var(--color-black);
}

* {
  box-sizing: border-box;
}
